packages/
CommercialFreeRadio/obj/
CommercialFreeRadio.Test/bin
CommercialFreeRadio.Test/obj
CommercialFreeRadio/bin/Debug/CommercialFreeRadio.exe.config
CommercialFreeRadio/bin/Debug/CommercialFreeRadio.vshost.exe.config
CommercialFreeRadio/bin/Debug/CommercialFreeRadio.vshost.exe.manifest
CommercialFreeRadio/bin/Debug/CommercialFreeRadio.log.1
CommercialFreeRadio/bin/Debug
